body {
    color: blue;
}
#main {
    margin: 20px auto;
    width: 80%;
    min-width: 200px;
    max-width: 500px;
}

.hidden {
    display: none;
}

#resources div {
    border-style: dotted;
    border-color: green;
    border-radius: 3px;
    color: red;
}
